* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    background: none;
}

button,
input {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

header {
    border-bottom: 1px solid grey;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    max-width: 72px;
}

nav a {
    color: black;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a:hover {
    text-decoration: underline;
}

button {

    display: none;
}

button img {
    width: 52px;
}

@media screen and (max-width: 600px) {
    nav {
        position: absolute;
        background-color: rgba(22, 22, 95, 0.766);
        backdrop-filter: blur(8px);
        top: 0;
        left: 120vw;
        bottom: 0;
        right: 0;
        z-index: -1;
        flex-direction: column;
        padding-top: 120px;
        align-items: center;
        transition: 0.6s;
    }

    nav a {
        color: white;
    }

    button {
        display: block;
    }
}